@model BlogModel

<h2>Edit Blogs</h2>

<form action="/Blog/Update/@Model.BlogId" method="post">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" placeholder="Title" name="BlogTitle" value="@Model.BlogTitle">
    </div>
    <div class="mb-3">
        <label class="form-label">Author</label>
        <input type="text" class="form-control" placeholder="Author" name="BlogAuthor" value="@Model.BlogAuthor">
    </div>
    <div class="mb-3">
        <label class="form-label">Content</label>
        <input type="text" class="form-control" placeholder="Content" name="BlogContent" value="@Model.BlogContent">
    </div>
    <a href="/Blog/Create" class="btn btn-danger">Back</a>
    <button type="submit" class="btn btn-success">Update</button>
</form>